* {
  font-family: 'Roboto', sans-serif;
}

/* ====== Navigation ====== */
.title {
  padding: 0.5em;
}

.header {
  background-color: #2980b9;
  color: #fff;
}

.navigation {
  list-style: none;
}

.nav-item {
  margin-left: 1em;
  padding: 0.5em;
}

.log-link {
  text-decoration: none;
  color: #fff;
  background: #123750;
  padding: 1em 1.5em 1em 1.5em;
}

.log-link:hover {
  text-decoration: none;
  background-color: #fff;
  color: #123750;
}

/* ====== Slide-Image ====== */
.slide-title {
  position: absolute;
  z-index: 10;
  color: #ffffffe0;
  font-weight: 700;
  font-size: 5em;
  padding: 0.5em;
}

/* ====== FOOTER ====== */
.footer {
  background-color: #236a99;
  color: #fff;
  padding: 1em;
}

/* ====== UTILITIES ====== */
.no-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
